body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  background-color: #2c3e50; /* Dark blue-gray */
  color: #ecf0f1; /* Light gray */
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 0; /* Set margin-bottom to 0 */
}

nav #title {
  color: #ecf0f1; /* Light gray */
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #ecf0f1; /* Light gray */
  font-size: 18px;
}

section {
  min-height: calc(100vh - 60px); /* 60px is the assumed height of the navbar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #ecf0f1; /* Light gray */
}

h2,
h3 {
  color: #333;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}

/* Optional: Add some styling for better aesthetics */
nav a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Move items down to create a staggered effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#about ul li:nth-child(1) {
  animation: fadeIn 1s ease-in-out 0.5s forwards; /* Delay the animation for the first item */
}

#about ul li:nth-child(2) {
  animation: fadeIn 1s ease-in-out 1s forwards; /* Delay the animation for the second item */
}

#about ul li:nth-child(3) {
  animation: fadeIn 1s ease-in-out 1.5s forwards; /* Delay the animation for the third item */
}

#about ul li:nth-child(4) {
  animation: fadeIn 1s ease-in-out 2s forwards; /* Delay the animation for the fourth item */
}
