{% extends "index.html" %} {% block body%}
<form method="POST" action="" class="mx-1 mx-md-4">
  {% csrf_token %} {% if messages %}
  <div class="alert alert-danger" role="alert">
    {% for message in messages %} {{message}} {%endfor %}
  </div>
  {% endif %}
  <div class="form-outline mb-4">
    <input
      type="number"
      id="form2Example1"
      name="username"
      class="form-control"
    />
    <label class="form-label" for="form2Example1">Reg No</label>
  </div>

  <div class="form-outline mb-4">
    <input
      type="password"
      id="form2Example2"
      name="password"
      class="form-control"
    />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <button type="Submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <div class="text-center">
    <p>Not a member?<a href="#!">Register</a></p>
  </div>
</form>

{% endblock%}
