<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ticket🧾</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link rel="stylesheet" type="text/css" href="./css/font.css" />
    <!-- <link rel="stylesheet" href="./css/signup.css" /> -->
  </head>
  <body>
    <!-- Container -->
    <div
      class="flex flex-col min-h-screen w-full items-center justify-center text-gray-600 bg-gray-50"
    >
      <div class="relative">
        <!-- Register -->

        <div
          class="relative flex flex-col sm:w-[30rem] rounded-lg border border-gray-400 bg-white shadow-lg px-4"
        >
          <div class="flex-auto justify-center p-6">
            <!-- Logo -->
            <div class="flex justify-center">
              <img
                src="public/images/img_group_29.svg"
                alt="group 29"
                class="h-[100px] w-[50%] pb-10"
              />
            </div>
            <!-- /Logo -->
            <div class="flex justify-center">
              <h1 class="mb-4 font-medium text-gray-700 xl:text-xl">
                Thanks for using Raah-e-safar!
              </h1>
            </div>

            <div>
              <h4 class="mb-4 font-medium text-gray-700 xl:text-xl">
                Ticket Info
              </h4>
              <h4 class="mb-2 font-medium text-gray-700 xl:text-xl">
                Ticket Id: <span class="text-gray-950">{{ticket.pk}}</span>
              </h4>
              <h4 class="mb-2 font-medium text-gray-700 xl:text-xl">
                Username:
                <span class="text-gray-950"
                  >{{User_set.first_name}} {{User_set.last_name}}</span
                >
              </h4>
              <h4 class="mb-2 font-medium text-gray-700 xl:text-xl"></h4>
            </div>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </body>
</html>
