{% extends 'landingPage.html' %}
{% load static %}

{% block body %}

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-50 text-gray-600">
    <div class="relative">
        <div class="flex flex-col sm:w-96 rounded-lg border border-gray-400 bg-white shadow-lg px-4 py-6">
            <div class="flex justify-center mb-6">
                <img src="{% static 'public/images/img_group_29.svg' %}" alt="group 29" class="h-24 w-24" />
            </div>

            <p class="mb-4 text-center text-gray-500">
                Forgotten your password? Enter your email address below, and we will email instructions for setting a new one.
            </p>

            <form class="mb-4" action="" method="POST">
                {% csrf_token %}
                {{ form }}

                <button type="submit" class="block w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Send Email
                </button>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}
